.menu{
    /* border-bottom: 1px solid whitesmoke; */
    box-shadow: 5px 8px 6px -6px gray;
    margin: 20px 5px 0 20px;
    text-align: left;
    overflow: hidden;
    /* white-space: nowrap; */
    width: 40%;
    height: 50%;
    position: sticky;
    top: 0;
}
.menu > h1{
    font-size: larger;
    margin-left: 6rem;
    font-weight: 400;
}
.drink_name{
    /* border: 1px solid black; */
    /* text-align: left; */
    margin: 15px 0 0 100px;
    list-style: none;
    font-weight: 200;
    width: 100%;
    padding: 5px;
    transition: all 0.3s;
}
.drink_name:hover{
    background-color: blue;
    color: white;
    transform: translateX(5px);
}
.list{
    display: flex;
    justify-content: space-between;
}
.arrow{
    margin-left: 10px;
    /* font-weight: 100; */
    font-size: small;
    transition: all 0.2s;
}
.arrow:hover{
    transform: translateX(20px);
}
